// 404 Styles

.error404 {
  .site-content .widget_product_search {
    background-color: rgba($black, .025);
    padding: 1.618em;

    form {
      margin: 0;
    }
  }

  .content-area {
    width: 100%;
  }

  .fourohfour-columns-2 {
    @extend %clearfix;
    border: 1px solid $color-border;
    border-width: 1px 0;
    margin-bottom: 2.618em;
    padding: 2.618em 0;

    .products {
      &,
      .product,
      .widget {
        margin-bottom: 0;
      }
    }

    .col-1 {
      @include span(6 of 12);

      .products,
      .product {
        @include span(3 of 6);
      }
    }

    .col-2 {
      @include span(last 6 of 12);
      background-color: rgba($black, .025);
      padding: 1.618em;
    }
  }
}
