// Comments

#comments {
  padding-top: 2.618em;
}

.comments-title {
  border-bottom: 1px dotted $color-border;
  margin-bottom: 1.618em;
  padding-bottom: .53em;
}

.comment-list {
  list-style: none;
  margin-left: 0;

  .comment-body {
    @extend %clearfix;
  }

  .comment-content {
    margin-bottom: 1.618em;
    padding-bottom: 1.618em;
  }

  .comment-meta {
    .avatar {
      height: auto;
      margin-bottom: 1em;
      max-width: 32px;
    }

    .comment-date {
      font-size: .875em;
      opacity: .8;

      &:hover {
        color: $color-body;
      }
    }

    cite {
      clear: both;
      display: block;
      font-style: normal;
    }
  }

  .bypostauthor {
    > .comment-body cite {
      &:after {
        content: '\f097';
        font-family: FontAwesome;
        font-weight: 400;
        margin-left: .53em;
      }
    }
  }

  .reply {
    @extend %clearfix;
    font-size: .875em;
    margin-bottom: 1.618em;

    .comment-edit-link {
      border-left: 1px solid $color-border;
    }

    a {
      background-color: rgba(0, 0, 0, .025);
      color: $color-body;
      float: left;
      padding: .53em 1em;

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }
    }
  }

  .children {
    list-style: none;
  }
}


.comment-content a {
  word-wrap: break-word;
}

#respond {
  background-color: rgba(0, 0, 0, .0125);
  border-top: .236em solid rgba(0, 0, 0, .025);
  clear: both;
  margin-bottom: 4.236em;
  padding: 1.618em;

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    input {
      width: 100%;
    }
  }

  .form-submit,
  form {
    margin-bottom: 0;
  }
}


@media screen and (min-width: 768px) {
  .comment-list {
    @include clearfix;

    .comment {
      clear: both;
    }

    .comment-meta {
      @include span(2 of 9);

      .avatar {
        @include span(1 of 1);
      }
    }

    .comment-content {
      margin-bottom: 3.631em;
      padding-bottom: 3.631em;
    }

    .comment-content,
    #respond {
      @include span(last 7 of 9);
    }

    #respond {
      float: right;

      .comment-form-author,
      .comment-form-email,
      .comment-form-url {
        margin-right: 0;
        width: 100%;
      }
    }

    .reply {
      clear: both;
    }

    .children {
      @include span(last 8 of 9);
      list-style: none;

      .comment-meta {
        @include span(2 of 8);
      }

      .comment-content,
      #respond {
        @include span(last 6 of 8);
      }

      .children {
        @include span(last 7 of 8);

        .comment-meta {
          @include span(2 of 7);
        }

        .comment-content,
        #respond {
          @include span(last 5 of 7);
        }

        .children {
          @include span(last 6 of 7);

          .comment-meta {
            @include span(2 of 6);
          }

          .comment-content,
          #respond {
            @include span(last 4 of 6);
          }

          .children {
            @include span(last 5 of 6);

            .comment-meta {
              @include span(2 of 5);
            }

            .comment-content,
            #respond {
              @include span(last 3 of 5);
            }
          }
        }
      }
    }
  }

  #respond {
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      @include span(3 of 9);
    }

    .comment-form-url {
      @include last;
    }

    .comment-form-comment {
      clear: both;
    }
  }
}
