// Content

.sticky {
  .entry-title {
    &:before {
      content: '\f08d';
      font-family: FontAwesome;
      font-weight: 400;
      margin-right: .53em;
    }
  }
}

.hentry {
  margin: 0 0 4em;
  padding-bottom: 2em;

  .wp-post-image {
    margin-bottom: 1.5em;
  }

  .entry-header {
    border-bottom: .25em solid rgba($black, .025);
    margin-bottom: 2em;

    h1 {
      margin-bottom: .25em;
    }

    .posted-on,
    .byline {
      font-size: .875em;
    }
  }

  .entry-meta {
    a {
      border-bottom: 1px solid $color-border;

      &:hover {
        border-bottom-color: rgba(0, 0, 0, .2);
      }
    }
  }
}

.byline,
.updated:not(.published) {
  display: none;
}

.single,
.group-blog {
  .byline {
    display: inline;
  }
}

.page-links {
  clear: both;
  margin: 0 0 $vspacing;
}

.cat-links,
.tags-links,
.comments-link,
.edit-link {
  display: block;
  margin-bottom: 1em;

  &:before {
    content: '\f114';
    display: inline-block;
    font-family: FontAwesome;
    margin-right: .53em;
    width: 1em;
  }
}

.tags-links {
  &:before {
    content: '\f02b';
  }
}

.comments-link {
  &:before {
    content: '\f0e5';
  }
}

.edit-link {
  &:before {
    content: '\f040';
  }
}

@media screen and (min-width: 768px) {
  .hentry.type-post {
    @include clearfix;

    .entry-meta {
      @include span(2 of 9);
      font-size: .875em;
    }

    .entry-content {
      @include span(last 7 of 9);
    }
  }
}
