// Forms

form {
  margin-bottom: 1.618em;
}

button,
input,
select,
textarea {
  *vertical-align: middle; // Improves appearance and consistency in all browsers
  font-size: 100%; // Corrects font size not being inherited in all browsers
  margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
  vertical-align: baseline; // Improves appearance and consistency in all browsers
}

button,
[type='button'],
[type='reset'],
[type='submit'],
.button,
.added_to_cart {
  transition: 250ms ease-in-out;
  -webkit-appearance: none;
  background: none;
  background-color: $color-body;
  border: none;
  border-radius: .25em;
  color: $white;
  cursor: pointer; // Improves usability and consistency of cursor style between image-type 'input' and others
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: .618em 1em;
  text-decoration: none;
  text-shadow: none;

  &.cta,
  &.add_to_cart_button {
    background-color: $edelgelb;

    &:hover {
      background-color: darken($edelgelb, 5%);
    }
  }

  &.alt,
  &.added_to_cart {
    background-color: $medium-sea-green;

    &:hover {
      background-color: darken($medium-sea-green, 5%);
    }
  }

  place-order

  &:hover {
    background-color: darken($color-body, 5%);
    color: $white;
  }

  &:focus {
    outline: 2px solid $color-links;
  }

  &.added {
    &:after {
      content: '\f00c';
      font-family: FontAwesome;
      margin-left: .53em;
    }
  }

  &.loading {
    opacity: .5;
  }

  &.small {
    font-size: .875em;
    padding: .53em .875em;
  }

  &.disabled,
  &:disabled {
    opacity: .5 !important;

    &:hover {
      opacity: .5 !important;
    }
  }
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0; // Addresses excess padding in IE8/9
}

input[type='search']::-webkit-search-decoration { // Corrects inner padding displayed oddly in S5, Chrome on OSX
  -webkit-appearance: none;
}

input[type='search'] {
  box-sizing: border-box; // Overrules normalize.css.
}

button::-moz-focus-inner,
input::-moz-focus-inner { // Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
  border: none;
  padding: 0;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea,
.input-text {
  -webkit-appearance: none;
  background-color: darken($body-background, 5%);
  border: none;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  box-sizing: border-box;
  color: $color-body;
  font-weight: normal;
  line-height: 1;
  outline: none;
  padding: .618em;

  &:focus {
    background-color: darken($body-background, 10%);
    color: darken($color-body, 10%);
  }
}

textarea {
  overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
  padding-left: .875em;
  vertical-align: top; // Improves readability and alignment in all browsers
  width: 100%;
}

label {
  font-weight: 700;

  &.inline {
    input {
      width: auto;
    }
  }
}

fieldset {
  border: none;
  margin-bottom: 1.618em;
  padding: 0;

  legend {
    font-weight: 700;
  }
}

[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .5s .5s ease;
}
