// Main Naivgation

// General Menu Styles

.main-navigation {
  clear: both;

  ul {
    list-style: none;
    margin-left: 0;

    ul {
      display: block;
      margin-left: 1.375em;
    }

    li {
      a {
        display: block;
        padding: .875em 1.375em;

        &:before {
          content: '\f0f6';
          font-family: FontAwesome;
          font-weight: 400;
          margin-right: .53em;
        }

        &:hover {
          color: $mercury;
        }
      }
    }
  }

  &.toggled {
    .handheld-navigation,
    .menu > ul:not(.nav-menu) {
      display: block;
    }
  }
}

.secondary-navigation {
  display: none;
}

.menu-toggle {
  cursor: pointer;
  display: block;
  margin: 2.244em auto;
  text-align: left;
  width: 100%;

  &:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-weight: 400;
    margin-right: .53em;
  }
}

.primary-navigation {
  display: none;
}

.handheld-navigation,
.nav-menu,
.main-navigation .menu > ul:not(.nav-menu) {
  display: none;
}

.handheld-navigation {
  margin-bottom: 2.244em;

  ul {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle,
  .handheld-navigation,
  .main-navigation.toggled .handheld-navigation,
  .main-navigation.toggled .menu {
    display: none;
  }

  .primary-navigation {
    display: block;
  }

  .main-navigation,
  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%;

    // first level
    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        display: inline-block;
        position: relative;
        text-align: left;

        a {
          display: block;

          &:before {
            display: none;
          }
        }

        // link hover
        &:hover,
        &.focus {
          > ul {
            display: block;
            left: 0;

            li {
              > ul {
                display: none; // display: none; is required to make dropdowns work on touch devices
              }

              &:hover,
              &.focus {
                > ul {
                  display: block;
                  left: 100%;
                  top: 0;
                }
              }
            }
          }
        }

      }

      // second level
      ul {
        background-color: $header-background;
        display: none; // display: none; is required to make dropdowns work on touch devices
        float: left;
        position: absolute;
        top: 100%;
        z-index: 99999;

        li {
          a {
            width: 200px;
          }
        }
      }
    }

  }

  .menu {
    li {
      &.current-menu-item {
        > a {
          color: $color-body;
        }
      }
    }
  }

  // Primary Navigation

  .main-navigation {
    padding-top: 1.618em;

    .menu,
    .nav-menu {
      > li {
        // The first level menu item
        > a {
          padding: 0 1em 2.244em;
        }

        &:first-child {
          margin-left: -1em;
        }

        &.menu-item-has-children,
        &.page_item_has_children {
          &:hover {
            &:after {
              display: block;
            }
          }

          > a {
            &:after {
              // The dropdown indicator
              content: '\f107';
              font-family: FontAwesome;
              font-weight: inherit;
              line-height: 1;
              margin-left: 1em;
            }
          }
        }
      }

      ul {
        // Dropdowns
        background-color: $header-background;
        margin-left: 0;

        li {
          background-color: rgba(0, 0, 0, .025);

          a {
            padding: .875em 1em;
          }

          &:last-child {
            border-bottom: none;
          }

          &.menu-item-has-children,
          &.page_item_has_children {
            > a {
              &:after {
                // The dropdown indicator
                content: '\f105';
                float: right;
                font-family: FontAwesome;
              }
            }
          }
        }

        ul {
          border-top-color: $color-border;
          box-shadow: none;
          margin-left: 0;
        }

        a:hover,
        li:hover > a {
          background-color: rgba(0, 0, 0, .025);
        }
      }
    }

    a {
      padding: 0 1em 2.244em;
    }
  }

  // Secondary Navigation

  .secondary-navigation {
    clear: none;
    line-height: 1;
    margin: 0 0 1.618em;
    width: auto;

    .menu {
      float: right;
      font-size: .875em;
      width: auto;

      > li:hover > a {
        text-decoration: none;
      }

      > li > a {
        position: relative;

        &:before {
          background-color: rgba($black, .05);
          content: '';
          display: block;
          height: 25%;
          left: -3px;
          position: absolute;
          top: 37.5%;
          width: 1px;
        }
      }

      > li:first-child a:before {
        display: none;
      }

      ul {
        background-color: $header-background;

        a {
          background: rgba($black, .05);
          padding: .326em .875em;
        }

        li:first-child a {
          padding-top: 1em;
        }

        li:last-child a {
          padding-bottom: 1em;
        }

        ul {
          margin-top: -.618em;
        }
      }

      a {
        color: lighten($color-body, 20%);
        font-weight: 400;
        padding: 1.375em .875em;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
