// Main Naivgation

// General Menu Styles

.menu,
.sub-menu {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

.main-navigation {
  .nav-menu {
    display: none;
  }

  &.toggled .nav-menu {
    display: block;
  }
}

.nav-menu {

  .sub-menu {
    margin-left: 1em;

    > li:last-child > a {
      border-bottom-width: 0;
    }
  }

  .current-menu-item > a {
    background-color: lighten($gainsboro, 15%);
  }

  a {
    background-color: lighten($gainsboro, 7.5%);
    border-color: darken($gainsboro, 5%);
    border-style: solid;
    border-width: 0 1px 1px;
    color: darken($gainsboro, 50%);

    @media #{$desktop} {
      background: none;
      border-width: 0;
    }
  }

  > li:first-child > a,
  .menu-item-has-children + li > a {
    border-top-width: 1px;

    @media #{$desktop} {
      border-top-width: 0;
    }
  }

  li {
    a {
      display: block;
      padding: .75em 1em;

      &:before {
        content: '\f0f6';
        font-family: FontAwesome;
        font-weight: 400;
        margin-right: .53em;
      }

      &:hover {
        background: lighten($gainsboro, 5%);
      }
    }
  }
}

.menu-toggle {
  cursor: pointer;
  display: block;
  margin: 2em auto 1em;
  padding-right: 2em;
  text-align: left;
  width: 100%;

  &:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-weight: 400;
    margin-right: .53em;
  }
}

.site-header-cart {
  float: right;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  .cart-contents {
    background-color: rgba($black, .05);
    color: $edelgelb;
    display: block;
    height: 2.244em;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 2.244em;

    &:after {
      content: '\f07a';
      font-family: FontAwesome;
      line-height: 2.244;
      position: absolute;
      right: 0;
      text-align: center;
      text-indent: 0;
      top: 0;
      width: 100%;
    }

    span {
      display: none;
    }
  }

  .widget_shopping_cart {
    display: none;

    .product_list_widget {
      max-height: 15em;
      overflow-y: auto;
    }
  }
}

.primary-navigation {
  display: none;
}

@media screen and (min-width: 768px) {

  .header-nav {
    background: $white;
    margin-bottom: 2em;
  }

  .nav-menu a,
  .site-header-cart .cart-contents {
    color: darken($gainsboro, 40%);
  }

  .menu-toggle {
    display: none;
  }

  .main-navigation .nav-menu {
    display: block;
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      display: block;
      float: left;
      position: relative;

      a {
        display: block;

        &:before {
          display: none;
        }
      }
    }
  }

  .primary-navigation {
    display: block;
    float: left;

    li {

      ul {
        display: none;
      }

      &:hover,
      &.focus {

        > ul {
          display: block;
          left: 0;

          li {
            > ul {
              display: none; // display: none; is required to make dropdowns work on touch devices
            }

            &:hover,
            &.focus {
              > ul {
                display: block;
                left: 100%;
                top: 0;
              }
            }
          }
        }
      }

    }

    ul {
      background-color: $header-background;
      float: left;
      position: absolute;
      top: 100%;
      z-index: 99999;

      li {
        a {
          width: 16em;
        }
      }
    }
  }

  .primary-navigation {
    float: left;
  }

  .main-naviagtion .nav-menu > li > a,
  .site-header-cart > li > a {
    padding: .75em 1em;
  }

  .main-navigation .nav-menu li:hover,
  .main-navigation .nav-menu .current-menu-item,
  .main-navigation .nav-menu .current-menu-ancestor,
  .main-navigation .nav-menu .current-menu-parent,
  .site-header-cart > li:hover,
  .site-header-cart > .current-menu-item {
    > a {
      background: darken($white, 5%);
      color: $black;
    }
  }

  .main-navigation .sub-menu,
  .widget_shopping_cart {
    background-color: change-color($dark-cerulean, $saturation: 15%);
    box-shadow: 0 0 2px rgba($black, .2);
  }

  .main-navigation {
    .menu,
    .nav-menu {
      > .menu-item-has-children,
      > .page_item_has_children {
        > a::after {
          content: '\f107'; // dropdown indicator: ▼
          font-family: FontAwesome;
          font-weight: inherit;
          line-height: 1;
          margin-left: .5em;
        }
      }
    }

    .sub-menu {
      margin-left: 0;

      a {
        color: $gainsboro;
        padding: .875em 1em;
      }

      .menu-item-has-children,
      .page_item_has_children {
        > a::after, {
          content: '\f105'; // dropdown indicator: ▶
          float: right;
          font-family: FontAwesome;
        }
      }
    }
  }
}
