// Pagination

.site-main [class*='navigation'] {
  margin: 0 0 $vspacing;
  overflow: hidden;

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }

}

// Pagination

.pagination,
.woocommerce-pagination {
  border: 1px solid $color-border;
  border-width: 1px 0;
  clear: both;
  padding: 1em 0;
  text-align: center;

  .page-numbers {
    @extend %clearfix;
    list-style: none;
    margin: 0;

    li {
      display: inline-block;

      .page-numbers {
        background-color: rgba($black, .025);
        border-left-width: 0;
        color: $color-body;
        display: inline-block;
        padding: .375em .875em;

        &.current {
          background-color: $color-links;
          border-color: $color-links;
          color: $white;
          font-weight: 700;
        }

        &.dots {
          background-color: transparent;
        }

        &.prev,
        &.next {
          padding-left: 1em;
          padding-right: 1em;
        }

        &:hover {
          background-color: rgba($black, .05);
        }
      }
    }
  }
}
