// Widgets

.widget {
  margin: 0 0 3.631em;

  select {
    max-width: 100%;
  }

  .widget-search .search-submit {
    @extend %screen-reader-text;
  }

  .widget-title,
  .widgettitle {
    border-bottom: 3px solid $color-body;
    font-size: 1.387em;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 1em;
    padding: 0 0 1em;
  }

  ul {
    list-style: none;
    margin-left: 0;

    ul {
      margin-left: 1.618em;
    }
  }
}

.widget-area {
  .widget {
    font-size: .857em;

    .widget-title {
      font-size: 1.387em;
    }

    a {
      color: $color-body;
      font-weight: 400;

      &.button {
        color: $white;
        font-weight: 700 !important;

        &:hover {
          color: $white;
        }
      }

      &:hover {
        color: $color-links;
      }
    }
  }
}

.header-widget-region {
  @extend %clearfix;

  .widget {
    font-size: .857em;
    margin: 0;
    padding: 1em 0;
  }
}

.widget_search,
.widget_product_search {
  form {
    position: relative;

    input[type=text],
    input[type=search] {
      padding-left: 2.618em;
      width: 100%;
    }

    input[type=submit] {
      @extend %screen-reader-text;
      left: 0;
      top: 0;
    }

    &:before {
      content: '\f002';
      font-family: FontAwesome;
      left: 1em;
      line-height: 1;
      position: absolute;
      top: .618em;
    }
  }
}

.widget_recent_entries,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_comments,
.widget_nav_menu,
.widget_links {
  ul {
    margin: 0;

    li {
      list-style: none;
      margin-bottom: .618em;

      &:before {
        display: inline-block;
        font-family: FontAwesome;
        margin-right: .53em;
        opacity: .35;
      }
    }

    .sub-menu {
      margin-left: 1.618em;
      margin-top: .618em;
    }
  }
}

.widget-area,
.footer-widgets {
  #wp-calendar {
    th,
    td {
      padding: .236em;
      text-align: center;
    }
  }
}

.widget_recent_entries,
.widget_pages {
  ul {
    li {
      &:before {
        content: '\f0f6';
      }
    }

    .children {
      margin: .618em 0 0 1.387em;
    }
  }
}

.widget_categories {
  ul {
    li {
      &:before {
        content: '\f114';
      }

      &.current-cat {
        &:before {
          content: '\f115';
        }
      }
    }
  }
}

.widget_archive {
  ul {
    li {
      &:before {
        content: '\f115';
      }
    }
  }
}

.widget_recent_comments {
  ul {
    li {
      &:before {
        content: '\f0e5';
      }
    }
  }
}

.widget_nav_menu {
  ul {
    li {
      &:before {
        content: '\f0f6';
      }
    }
  }
}

.widget_links {
  ul {
    li {
      &:before {
        content: '\f08e';
      }
    }
  }
}
