.cart_totals table.cart tr:before,
.shop_table.cart tr:before, .cart_totals table.cart tr:after,
.shop_table.cart tr:after {
  content: '';
  display: table;
}
.cart_totals table.cart tr:after,
.shop_table.cart tr:after {
  clear: both;
}

.site-search .widget_product_search #searchsubmit {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

@font-face {
  font-family: 'star';
  src: url("../../../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}
.woocommerce-active .site-header .col-full {
  position: relative;
}

.site-search .widget_product_search input[type=text],
.site-search .widget_product_search input[type=search] {
  line-height: 1;
  padding: 1.25em 1.5em 1.25em 3.5em;
}
.site-search .widget_product_search form::before {
  left: 1.618em;
  top: 1.375em;
}

.shop_table_responsive thead {
  display: none;
}
.shop_table_responsive tbody th {
  display: none;
}
.shop_table_responsive tr td {
  display: block;
  text-align: right;
}
.shop_table_responsive tr td:before {
  content: attr(data-title) ": ";
  float: left;
  font-weight: 700;
}
.shop_table_responsive tr td.product-remove a {
  text-align: left;
}
.shop_table_responsive tr td.product-remove:before {
  display: none;
}
.shop_table_responsive tr td.actions:before {
  display: none;
}
.shop_table_responsive.my_account_orders .order-actions {
  text-align: left;
}
.shop_table_responsive.my_account_orders .order-actions:before {
  display: none;
}

.products {
  clear: both;
  margin-left: 0;
}
.products::after {
  clear: both;
  content: "";
  display: table;
}
.products .product {
  list-style: none;
  margin-bottom: 4.236em;
  margin-left: 0;
  position: relative;
  text-align: center;
}
.products .product .star-rating,
.products .product .price {
  margin: 0 auto 1em;
}
.products .product .price {
  color: #60646c;
  display: block;
  font-weight: 400;
}
.products .product .price ins {
  background-color: transparent;
  font-weight: 700;
  margin-left: .618em;
}
.products .product h3 {
  font-size: 1.1em;
}
.products .product .star-rating {
  font-size: .875em;
}
.products .product img {
  display: block;
  margin: 0 auto 1.618em;
}
.products .product.product-category img {
  margin-bottom: 1.618em;
}
.products .product .button {
  margin-bottom: .236em;
}

.product-image {
  margin-bottom: 1em;
}

.woocommerce-main-image {
  margin-bottom: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.single-product .product {
  overflow: hidden;
  position: relative;
}
.single-product .product::after {
  clear: both;
  content: "";
  display: table;
}
.single-product .product .images,
.single-product .product .summary {
  margin-bottom: 2.618em;
  margin-top: 0;
}
.single-product .product .images .thumbnails .zoom {
  display: block;
  float: left;
  margin-bottom: 1em;
  margin-right: 3.8%;
  width: 22.05%;
}
.single-product .product .images .thumbnails .zoom.last {
  margin-right: 0;
}
.single-product .product .images .thumbnails .zoom.first {
  clear: both;
}
.single-product .product .cart {
  border-bottom: 3px solid rgba(0, 0, 0, 0.025);
  border-top: 3px solid rgba(0, 0, 0, 0.025);
  margin-bottom: 1.618em;
  padding: 1.618em 0;
}
.single-product .product .cart::after {
  clear: both;
  content: "";
  display: table;
}
.single-product .product .cart .quantity {
  float: left;
}
.single-product .product .cart .button {
  float: right;
}
.single-product .product .price {
  font-weight: 700;
}
.single-product .product .variations {
  margin: 0;
}
.single-product .product .variations th,
.single-product .product .variations td {
  background-color: transparent;
  display: list-item;
  list-style: none;
  padding: 0;
}
.single-product .product .variations .value {
  margin-bottom: 1em;
}
.single-product .product .single_variation .price {
  display: block;
  margin-bottom: 1em;
}
.single-product .product .variations_button {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1em;
}
.single-product .product .variations_button::after {
  clear: both;
  content: "";
  display: table;
}
.single-product .product .woocommerce-product-rating {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1;
  margin-bottom: 2.618em;
  margin-top: -.618em;
  padding: 0 0 1.618em;
}
.single-product .product .woocommerce-product-rating::after {
  clear: both;
  content: "";
  display: table;
}
.single-product .product .woocommerce-product-rating a {
  font-size: .875em;
}
.single-product .product .woocommerce-product-rating .star-rating {
  float: right;
}
.single-product .product .product_meta {
  font-size: .875em;
}
.single-product .product .product_meta .sku_wrapper,
.single-product .product .product_meta .posted_in,
.single-product .product .product_meta .tagged_as {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  display: block;
  padding: .53em 0;
}
.single-product .product .product_meta .sku_wrapper:last-child,
.single-product .product .product_meta .posted_in:last-child,
.single-product .product .product_meta .tagged_as:last-child {
  border-bottom: none;
}

.stock:before {
  font-family: FontAwesome;
  margin-right: .53em;
}
.stock.in-stock:before {
  content: '\f118';
}
.stock.out-of-stock:before {
  content: '\f119';
}

.reset_variations {
  display: inline-block;
  margin-left: 1em;
}
.reset_variations:before {
  content: '\f021';
  font-family: FontAwesome;
  font-weight: 400;
  margin-right: .53em;
}

#reviews #comments {
  padding-top: 0;
}
#reviews .commentlist {
  list-style: none;
  margin-left: 0;
}
#reviews .commentlist li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  clear: both;
  list-style: none;
  margin-bottom: 3.631em;
}
#reviews .commentlist li time {
  opacity: .8;
}
#reviews .commentlist li .avatar {
  float: right;
  height: auto;
  width: 2.618em;
}
#reviews .commentlist li .meta {
  margin-bottom: 1em;
}
#reviews .commentlist li .description {
  padding-bottom: 1.618em;
}
#reviews .commentlist li .children {
  width: 81.81818%;
  float: right;
  margin-right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 2.618em;
}
#reviews .comment-form-rating {
  clear: both;
}

.woocommerce-breadcrumb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: .875em;
  margin-bottom: 4.236em;
  padding: 1em 0;
}
.woocommerce-breadcrumb .home:before {
  content: '\f015';
  font-family: FontAwesome;
  font-weight: 400;
  margin-right: .53em;
}

.product_list_widget {
  list-style: none;
  margin-left: 0;
}
.product_list_widget li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  padding: 1em 0;
}
.product_list_widget li::after {
  clear: both;
  content: "";
  display: table;
}
.product_list_widget li img {
  float: right;
  max-width: 20%;
  min-width: 2em;
}
.product_list_widget li .quantity,
.product_list_widget li > .amount {
  display: block;
}
.product_list_widget a {
  display: block;
}
.product_list_widget a, .product_list_widget a:hover {
  color: #fff;
}

.widget_products a {
  display: block;
}

.widget_shopping_cart .product_list_widget {
  margin-bottom: 0;
}
.widget_shopping_cart .product_list_widget li {
  padding-left: 2em;
  position: relative;
}
.widget_shopping_cart .product_list_widget li .remove {
  left: 0;
  opacity: 1;
  position: absolute;
  top: 1em;
}
.widget_shopping_cart .total,
.widget_shopping_cart .buttons {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}
.widget_shopping_cart .total {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.widget_shopping_cart .buttons .button {
  display: block;
}
.widget_shopping_cart .buttons .button:nth-child(odd) {
  margin-bottom: .618em;
}

.widget_product_categories ul {
  margin: 0;
}
.widget_product_categories ul li {
  list-style: none;
  margin-bottom: .618em;
}
.widget_product_categories ul li:before {
  content: '\f114';
  display: inline-block;
  font-family: FontAwesome;
  margin-right: .53em;
  opacity: .25;
}
.widget_product_categories ul li.current-cat:before {
  content: '\f115';
}
.widget_product_categories .children {
  margin-left: 1.618em;
  margin-top: .618em;
}

.site-header .widget_shopping_cart .total,
.site-header .widget_shopping_cart .buttons,
.site-header .widget_shopping_cart li {
  background-color: rgba(0, 0, 0, 0.025);
  padding-left: 1.375em;
  padding-right: 1.375em;
}

.widget_layered_nav li {
  margin-bottom: .618em;
}
.widget_layered_nav li:before {
  content: '\f0c8';
  display: inline-block;
  font-family: FontAwesome;
  margin-right: .53em;
  opacity: .35;
}
.widget_layered_nav .chosen:before {
  content: '\f14a';
}

.widget.woocommerce li .count {
  float: right;
  font-size: 1em;
}

.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
  line-height: 2.4em;
  text-align: right;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  background: #3265ad;
  border-radius: 1em;
  box-sizing: border-box;
  cursor: ew-resize;
  height: 1em;
  margin-top: -.25em;
  opacity: 1;
  outline: none;
  position: absolute;
  width: 1em;
  z-index: 2;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
  box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
}
.widget_price_filter .ui-slider .ui-slider-range {
  background: #3265ad;
  border: none;
  border-radius: 1em;
  display: block;
  font-size: .7em;
  position: absolute;
  z-index: 1;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}
.widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  height: 100%;
  top: 0;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}

.cart {
  margin-bottom: 3.5em;
}
.cart thead {
  text-indent: -999em;
}
.cart thead th {
  padding: 0;
}
.cart .product-thumbnail,
.cart .product-quantity .plus,
.cart .product-quantity .minus {
  display: none;
}
.cart .qty {
  padding: .25em;
}
.cart .actions label {
  display: none;
}
.cart .actions .coupon {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.cart .actions input {
  display: block;
  margin: .236em 0;
  width: 100%;
}

.wc-proceed-to-checkout {
  margin-bottom: 1.618em;
}
.wc-proceed-to-checkout::after {
  clear: both;
  content: "";
  display: table;
}
.wc-proceed-to-checkout .button {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}
.wc-proceed-to-checkout .button.checkout-button {
  font-size: 1.375em;
}

#shipping_method {
  list-style: none;
  margin: 0;
}

.remove {
  display: block;
  font-weight: 400;
  position: relative;
  text-indent: -9999px;
  width: 1em;
}
.remove:before {
  color: #e34234;
  content: '\f057';
  font-family: FontAwesome;
  font-weight: 400;
  left: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
}

.checkout_coupon {
  margin-bottom: 2.618em;
}

.woocommerce-checkout::after {
  clear: both;
  content: "";
  display: table;
}

.about_paypal {
  float: right;
  margin-right: 1em;
}

#payment {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}
#payment::after {
  clear: both;
  content: "";
  display: table;
}
#payment .create-account {
  clear: both;
}
#payment .payment_methods {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  padding: 0 !important;
}
#payment .payment_methods li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  list-style: none !important;
  margin-left: 0;
  padding: 1.375em !important;
}
#payment .payment_methods li img {
  border: none;
  float: right;
  max-height: 1.618em;
  padding: 0;
}
#payment .payment_methods li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
#payment .payment_methods li label {
  font-weight: bold;
  margin-left: .618em;
  padding-top: 0 !important;
  width: 92%;
}
#payment .payment_methods li p {
  margin: 0;
}
#payment .payment_methods li .payment_box {
  background: rgba(0, 0, 0, 0.035);
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 1.375em -1.375em -1.375em;
  padding: 1.375em;
}
#payment .payment_methods li .payment_box fieldset {
  border: none;
  font-size: .875em;
  margin: 0;
  padding: 1em 0 0;
}
#payment .payment_methods li .payment_box fieldset label {
  margin-left: 0;
  width: auto;
}
#payment .payment_methods li .payment_box fieldset .form-row {
  margin-bottom: 1em;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select {
  width: 48%;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
  float: right;
}
#payment .payment_methods li .payment_box fieldset #cvv {
  width: 22% !important;
}
#payment .payment_methods li .payment_box fieldset .help {
  float: right;
  width: 75%;
}
#payment .terms {
  clear: both;
  float: none;
  margin-bottom: 0;
  margin-top: 1em;
  width: 100%;
}
#payment .terms label {
  display: inline;
}
#payment .terms input {
  display: inline-block;
  float: left;
  margin: .375em .53em 0 0;
  width: auto;
}
#payment .place-order {
  float: none;
  margin-bottom: 0;
  padding: 1.375em;
  width: 100%;
}
#payment .place-order .button {
  font-size: 1.375em;
  white-space: pre-wrap;
  width: 100%;
}

.woocommerce-password-strength {
  font-size: .875em;
  font-weight: 600;
  padding: .53em 0;
  text-align: right;
}
.woocommerce-password-strength:after {
  content: '\f119';
  display: inline-block;
  font-family: FontAwesome;
  font-weight: 400;
  margin-left: .53em;
}
.woocommerce-password-strength.strong {
  color: #0f834d;
}
.woocommerce-password-strength.strong:after {
  content: '\f118';
}
.woocommerce-password-strength.short {
  color: #e34234;
}
.woocommerce-password-strength.bad {
  color: #e34234;
}
.woocommerce-password-strength.good {
  color: #3d9cd2;
}
.woocommerce-password-strength.good:after {
  content: '\f11a';
}

.order_details {
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  margin-left: 0;
  position: relative;
}
.order_details::after {
  clear: both;
  content: "";
  display: table;
}
.order_details li {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  font-size: .8em;
  padding: 1em 1.618em;
  text-transform: uppercase;
}
.order_details li:last-child {
  border-right: none;
}
.order_details li strong {
  display: block;
  font-size: 1.375em;
  text-transform: none;
}

.digital-downloads {
  list-style: none;
  margin-left: 0;
}
.digital-downloads li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.digital-downloads li:before {
  content: '\f019';
  font-family: FontAwesome;
  margin-right: .53em;
}

.my_account_orders .button {
  font-size: .875em;
  margin-right: .236em;
  padding: .53em 1em;
}

.form-row label {
  display: block;
}
.form-row input,
.form-row textarea,
.form-row select {
  width: 100%;
}
.form-row input[type=checkbox],
.form-row input[type=radio] {
  width: auto;
}
.form-row .button {
  width: auto;
}
.form-row.create-account label {
  display: inline-block;
}
.form-row.woocommerce-invalid label {
  color: #e34234;
}
.form-row.woocommerce-invalid input {
  background-color: #fce7e6;
}

.form-row-last {
  margin-right: 0 !important;
}

.form-row-wide {
  clear: both;
  width: 100%;
}

.required {
  border-bottom: 0 !important;
  color: #f00;
}

.demo_store {
  background-color: #3d9cd2;
  bottom: 0;
  color: #fff;
  left: 0;
  margin: 0;
  padding: 1em 1.375em;
  position: fixed;
  right: 0;
}
.demo_store:before {
  content: '\f05a';
  font-family: FontAwesome;
  margin-right: .53em;
}

.star-rating {
  font-family: star;
  font-size: 1em;
  height: 1em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 5.5em;
}
.star-rating:before {
  color: rgba(0, 0, 0, 0.2);
  content: '\73\73\73\73\73';
  float: left;
  left: 0;
  position: absolute;
  top: 0;
}
.star-rating span {
  float: left;
  left: 0;
  overflow: hidden;
  padding-top: 1.5em;
  position: absolute;
  top: 0;
}
.star-rating span:before {
  color: #3265ad;
  content: '\53\53\53\53\53';
  left: 0;
  position: absolute;
  top: 0;
}

.stars a {
  display: inline-block;
  height: 1em;
  margin-right: 1px;
  position: relative;
  text-decoration: none;
  text-indent: -999em;
  width: 1em;
}
.stars a:before {
  content: '\e021';
  display: block;
  font-family: WooCommerce;
  height: 1em;
  left: 0;
  line-height: 1;
  position: absolute;
  text-indent: 0;
  top: 0;
  width: 1em;
}
.stars a:hover ~ a:before {
  content: '\e021';
}
.stars:hover a:before {
  content: '\e020';
}
.stars.selected .active:before {
  content: '\e020';
}
.stars.selected .active ~ a:before {
  content: '\e021';
}
.stars.selected a:not(.active):before {
  content: '\e020';
}

.onsale {
  border-color: #60646c;
  border-style: solid;
  border-width: 2px;
  color: #60646c;
  display: inline-block;
  font-size: .875em;
  font-weight: 700;
  margin-bottom: 1em;
  padding: .202em .618em;
  text-transform: uppercase;
}

.quantity .qty {
  text-align: center;
}

.woocommerce-sorting {
  background-color: rgba(0, 0, 0, 0.025);
  font-size: .875em;
  margin-bottom: 2.5em;
  padding: 2em;
}

.woocommerce-tabs {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px 0;
  padding: 1em 0;
}
.woocommerce-tabs .tabs {
  list-style: none;
  margin-left: 0;
  text-align: center;
}
.woocommerce-tabs .tabs li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}
.woocommerce-tabs .tabs li.active a {
  color: #60646c;
}
.woocommerce-tabs .tabs li.active:after {
  content: '\f107';
  font-family: FontAwesome;
  height: 1em;
  left: 50%;
  line-height: 1;
  margin-left: -.5em;
  position: absolute;
  top: 100%;
  width: 1em;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
.no-comments {
  background-color: #0f834d;
  border-left: 0.618em solid rgba(0, 0, 0, 0.15);
  clear: both;
  color: #fff;
  margin-bottom: 2.618em;
  margin-left: 0;
  padding: 1em 1.618em;
}
.woocommerce-message::after,
.woocommerce-info::after,
.woocommerce-error::after,
.woocommerce-noreviews::after,
.no-comments::after {
  clear: both;
  content: "";
  display: table;
}
.woocommerce-message a,
.woocommerce-info a,
.woocommerce-error a,
.woocommerce-noreviews a,
.no-comments a {
  color: #fff;
}
.woocommerce-message a:hover,
.woocommerce-info a:hover,
.woocommerce-error a:hover,
.woocommerce-noreviews a:hover,
.no-comments a:hover {
  color: #fff;
  opacity: .7;
}
.woocommerce-message a.button:hover,
.woocommerce-info a.button:hover,
.woocommerce-error a.button:hover,
.woocommerce-noreviews a.button:hover,
.no-comments a.button:hover {
  opacity: 1;
}
.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button,
.woocommerce-noreviews .button,
.no-comments .button {
  background: none;
  border-left-color: rgba(255, 255, 255, 0.25) !important;
  border-left-style: solid;
  border-radius: 0;
  border-width: 0 0 0 1px;
  box-shadow: none;
  color: #fff;
  float: right;
  line-height: 1.618;
  padding: 0 0 0 1em;
}
.woocommerce-message .button:hover,
.woocommerce-info .button:hover,
.woocommerce-error .button:hover,
.woocommerce-noreviews .button:hover,
.no-comments .button:hover {
  background: none;
  color: #fff;
  opacity: .7;
}
.woocommerce-message pre,
.woocommerce-info pre,
.woocommerce-error pre,
.woocommerce-noreviews pre,
.no-comments pre {
  background-color: rgba(0, 0, 0, 0.1);
}

.site-content > .col-full > .woocommerce > .woocommerce-message:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-info:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-error:first-child {
  margin-top: 2.618em;
}

.wc-forward:after {
  content: '\f178';
  font-family: FontAwesome;
  font-weight: 400;
  margin-left: .53em;
}

.woocommerce-error {
  background-color: #e34234;
  list-style: none;
}

.woocommerce-info,
.woocommerce-noreviews,
.no-comments {
  background-color: #3d9cd2;
}

.woocommerce-result-count {
  margin-bottom: 0;
}

.variation {
  font-size: .875em;
}
.variation dd {
  margin: 0 0 1em;
}

.et_shop-product-section {
  border-bottom: 3px solid rgba(0, 0, 0, 0.025);
  margin-bottom: 4.236em;
}
.et_shop-product-section .section-title {
  text-align: center;
}
.et_shop-product-section:last-child {
  border-bottom-width: 0;
}

.product-price,
.product-quantity,
.product-subtotal,
.cart_totals td {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .shop_table_responsive thead {
    display: table-header-group;
  }
  .shop_table_responsive tbody th {
    display: table-cell;
  }
  .shop_table_responsive tr td {
    display: table-cell;
  }
  .shop_table_responsive tr td:before {
    display: none;
  }

  .remove {
    width: auto;
  }

  .no-js .site-header-cart > li:hover > .widget_shopping_cart,
  .site-header-cart > .focus > .widget_shopping_cart {
    display: block;
  }

  .site-header-cart {
    position: relative;
  }
  .site-header-cart .cart-contents {
    background-color: transparent;
    display: block;
    height: auto;
    padding-right: 3em;
    position: relative;
    text-indent: 0;
    width: auto;
  }
  .site-header-cart .cart-contents:after {
    line-height: 1em;
    margin-top: -0.5em;
    right: 1em;
    top: 50%;
    width: 1em;
  }
  .site-header-cart .cart-contents .amount {
    margin-right: .375em;
  }
  .site-header-cart .cart-contents .count {
    font-size: .875em;
    font-weight: 400;
    opacity: .75;
  }
  .site-header-cart .cart-contents span {
    display: inline;
  }
  .site-header-cart .widget_shopping_cart {
    font-size: .875em;
    min-width: 20em;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 999999;
  }
  .site-header-cart .widget_shopping_cart .widgettitle {
    display: none;
  }
  .site-header-cart .widget_shopping_cart .product_list_widget li .remove {
    float: left;
    position: relative;
    top: auto;
    width: 1.25em;
  }
  .site-header-cart .widget_shopping_cart .product_list_widget li .remove:before {
    text-align: left;
  }

  .products .product {
    clear: none;
    float: left;
    font-size: .875em;
    width: 100%;
  }
  .products .product.first {
    clear: both !important;
  }
  .products .product.last {
    margin-right: 0 !important;
  }

  .woocommerce-main-image,
  .product-image {
    display: block;
    height: 0;
    padding-bottom: 100%;
  }
  .woocommerce-main-image img,
  .product-image img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

  .page-template-template-fullwidth-php .site-main .columns-1 .products .product,
  .page-template-template-homepage-php .site-main .columns-1 .products .product,
  .et_shop-full-width-content .site-main .columns-1 .products .product {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .page-template-template-fullwidth-php .site-main .columns-2 .products .product,
  .page-template-template-homepage-php .site-main .columns-2 .products .product,
  .et_shop-full-width-content .site-main .columns-2 .products .product {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  .page-template-template-fullwidth-php .site-main .columns-3 .products .product,
  .page-template-template-homepage-php .site-main .columns-3 .products .product,
  .et_shop-full-width-content .site-main .columns-3 .products .product {
    width: 30.43478%;
    float: left;
    margin-right: 4.34783%;
  }
  .page-template-template-fullwidth-php .site-main .columns-4 .products .product,
  .page-template-template-homepage-php .site-main .columns-4 .products .product,
  .et_shop-full-width-content .site-main .columns-4 .products .product {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
  }
  .page-template-template-fullwidth-php .site-main .columns-5 .products .product,
  .page-template-template-homepage-php .site-main .columns-5 .products .product,
  .et_shop-full-width-content .site-main .columns-5 .products .product {
    margin-right: 3.8%;
    width: 16.9%;
  }

  .site-main .columns-1 .products .product {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .site-main .columns-2 .products .product {
    margin-right: 3.8%;
    width: 48%;
  }
  .site-main .columns-3 .products .product {
    width: 29.41176%;
    float: left;
    margin-right: 5.88235%;
  }
  .site-main .columns-4 .products .product {
    margin-right: 3.8%;
    width: 22.05%;
  }
  .site-main .columns-5 .products .product {
    margin-right: 3.8%;
    width: 16.9%;
  }
  .site-main .products .product {
    width: 29.41176%;
    float: left;
    margin-right: 5.88235%;
  }

  .single-product .product .images {
    width: 41.17647%;
    float: left;
    margin-right: 5.88235%;
    margin-bottom: 3.631em;
  }
  .single-product .product .images .thumbnails::after {
    clear: both;
    content: "";
    display: table;
  }
  .single-product .product .images .thumbnails .zoom {
    width: 14.28571%;
    float: left;
    margin-right: 14.28571%;
  }
  .single-product .product .images .thumbnails .zoom.last {
    float: right;
    margin-right: 0;
  }
  .single-product .product .summary {
    width: 52.94118%;
    float: right;
    margin-right: 0;
    margin-bottom: 3.631em;
  }
  .single-product .product .woocommerce-tabs {
    clear: both;
  }

  #reviews .comment-form-author,
  #reviews .comment-form-email {
    width: 47%;
  }
  #reviews .comment-form-email {
    margin-right: 0;
  }

  .et_shop-full-width-content.single-product .product .images {
    width: 30.43478%;
    float: left;
    margin-right: 4.34783%;
    margin-bottom: 3.631em;
  }
  .et_shop-full-width-content.single-product .product .images .thumbnails .zoom {
    width: 14.28571%;
    float: left;
    margin-right: 14.28571%;
  }
  .et_shop-full-width-content.single-product .product .images .thumbnails .zoom.last {
    margin-right: 0;
  }
  .et_shop-full-width-content.single-product .product .summary {
    width: 65.21739%;
    float: right;
    margin-right: 0;
    margin-bottom: 3.631em;
  }
  .et_shop-full-width-content.single-product .product .woocommerce-tabs {
    clear: both;
  }
  .et_shop-full-width-content.single-product .related .products .product,
  .et_shop-full-width-content.single-product .upsells .products .product {
    width: 30.43478%;
    float: left;
    margin-right: 4.34783%;
  }

  .woocommerce .page-description {
    margin-bottom: 1.618em;
  }

  .woocommerce-sorting {
    margin-bottom: 2.618em;
    padding: 1em 2em;
  }
  .woocommerce-sorting::after {
    clear: both;
    content: "";
    display: table;
  }
  .woocommerce-sorting select {
    width: auto;
  }

  .woocommerce-result-count {
    float: left;
    padding: .375em 0;
    position: relative;
  }

  .woocommerce-ordering {
    float: left;
    margin-bottom: 0;
    margin-right: 1em;
    padding: .375em 0;
  }

  .woocommerce-pagination {
    border: none;
    clear: none;
    float: right;
    margin-bottom: 0;
    padding: 0;
  }

  .page-template-template-fullwidth-php .cart .product-thumbnail {
    display: table-cell;
  }
  .page-template-template-fullwidth-php .cart .product-thumbnail img {
    border: 0.375em solid #fff;
    margin: 0 auto;
    max-height: 6em;
    max-width: 6em;
  }
  .page-template-template-fullwidth-php .cart thead {
    font-size: 1em;
    text-indent: 0;
  }
  .page-template-template-fullwidth-php .cart thead th {
    padding: .875em 1.375em;
  }

  .cart th,
  .cart td {
    padding: .875em 1.375em;
    line-height: 2em;
  }
  .cart .qty {
    padding: .875em;
  }
  .cart .product-remove {
    display: table-cell;
  }
  .cart .product-quantity .plus,
  .cart .product-quantity .minus {
    display: inline-block;
  }
  .cart .quantity .qty {
    height: 2em;
    line-height: 1em;
    padding: .5em;
  }
  .cart .actions {
    text-align: right;
  }
  .cart .actions label {
    display: none;
  }
  .cart .actions .coupon {
    border-bottom: none;
    display: inline-block;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .cart .actions input {
    display: inline-block;
    margin: 0;
    width: auto;
  }

  .cart-collaterals::after {
    clear: both;
    content: "";
    display: table;
  }
  .cart-collaterals .cross-sells {
    width: 41.17647%;
    float: left;
    margin-right: 5.88235%;
  }
  .cart-collaterals .cross-sells .products .product {
    width: 42.85714%;
    float: left;
    margin-right: 14.28571%;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    clear: right;
    float: right;
    margin: 0;
  }
  .cart-collaterals .shipping_calculator {
    clear: right;
  }

  .page-template-template-fullwidth-php .cart-collaterals .cross-sells {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  .page-template-template-fullwidth-php .cart-collaterals .cross-sells .products .product {
    width: 45.45455%;
    float: left;
    margin-right: 9.09091%;
  }
  .page-template-template-fullwidth-php .cart-collaterals .cart_totals,
  .page-template-template-fullwidth-php .cart-collaterals .shipping_calculator {
    float: right;
  }

  .col2-set {
    width: 52.94118%;
    float: left;
    margin-right: 5.88235%;
  }
  .col2-set .form-row-first {
    width: 33.33333%;
    float: left;
    margin-right: 11.11111%;
  }
  .col2-set .form-row-last {
    width: 55.55556%;
    float: right;
    margin-right: 0;
  }
  .col2-set .col-1,
  .col2-set .col-2 {
    margin-bottom: 1.618em;
  }
  .col2-set + #customer_details {
    display: none;
  }

  #order_review_heading,
  #order_review {
    width: 41.17647%;
    float: right;
    margin-right: 0;
    border: 3px solid #3265ad;
    clear: right;
  }

  #order_review_heading {
    padding-left: 2.08333%;
    padding-right: 2.08333%;
    border-width: 3px 3px 0;
    margin-bottom: 0;
    padding-bottom: .618em;
    padding-top: .618em;
  }

  #order_review {
    border-width: 0 3px 3px;
  }

  .woocommerce-order-pay #order_review,
  .page-template-template-fullwidth-php.woocommerce-order-pay #order_review {
    border-width: 3px;
    float: none;
    width: 100%;
  }
  .woocommerce-order-pay #order_review #payment h3,
  .page-template-template-fullwidth-php.woocommerce-order-pay #order_review #payment h3 {
    padding-left: 1em;
    padding-top: 1em;
  }
  .woocommerce-order-pay #order_review #payment .form-row,
  .page-template-template-fullwidth-php.woocommerce-order-pay #order_review #payment .form-row {
    padding: 1em;
  }
  .woocommerce-order-pay #order_review .payment_methods + .form-row,
  .page-template-template-fullwidth-php.woocommerce-order-pay #order_review .payment_methods + .form-row {
    padding: 1em;
  }
  .woocommerce-order-pay #order_review .button#place_order,
  .page-template-template-fullwidth-php.woocommerce-order-pay #order_review .button#place_order {
    display: block;
    font-size: 1.375em;
    width: 100%;
  }

  #wc_checkout_add_ons {
    width: 41.17647%;
    float: left;
    margin-right: 5.88235%;
  }

  .page-template-template-fullwidth-php .col2-set {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  .page-template-template-fullwidth-php .col2-set .form-row-first {
    width: 45.45455%;
    float: left;
    margin-right: 9.09091%;
  }
  .page-template-template-fullwidth-php .col2-set .form-row-last {
    width: 45.45455%;
    float: right;
    margin-right: 0;
  }
  .page-template-template-fullwidth-php #order_review_heading,
  .page-template-template-fullwidth-php #order_review {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }
  .page-template-template-fullwidth-php #wc_checkout_add_ons {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }
  .page-template-template-fullwidth-php #order_review {
    font-size: .875em;
  }

  #order_review .shop_table {
    margin-bottom: 2.618em;
  }

  .col2-set#customer_login {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .col2-set#customer_login .col-1 {
    width: 41.17647%;
    float: left;
    margin-right: 5.88235%;
  }
  .col2-set#customer_login .col-2 {
    width: 52.94118%;
    float: right;
    margin-right: 0;
  }

  .page-template-template-fullwidth-php .col2-set#customer_login .col-1 {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  .page-template-template-fullwidth-php .col2-set#customer_login .col-2 {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }

  .form-row-first {
    width: 47.05882%;
    float: left;
    margin-right: 5.88235%;
    clear: both;
  }

  .form-row-last {
    width: 47.05882%;
    float: right;
    margin-right: 0;
  }

  .page-template-template-fullwidth-php .form-row-first {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  .page-template-template-fullwidth-php .form-row-last {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }

  .et_shop-full-width-content .woocommerce-tabs .tabs {
    width: 30.43478%;
    float: left;
    margin-right: 4.34783%;
  }
  .et_shop-full-width-content .woocommerce-tabs .panel {
    width: 65.21739%;
    float: right;
    margin-right: 0;
    margin-bottom: 3.631em;
  }

  .woocommerce-tabs {
    margin-bottom: 2.618em;
    padding-bottom: 2.618em;
    padding-top: 2.618em;
  }
  .woocommerce-tabs::after {
    clear: both;
    content: "";
    display: table;
  }
  .woocommerce-tabs .tabs {
    width: 29.41176%;
    float: left;
    margin-right: 5.88235%;
    text-align: left;
  }
  .woocommerce-tabs .tabs li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0;
  }
  .woocommerce-tabs .tabs li a {
    display: block;
    padding: 1em 0;
  }
  .woocommerce-tabs .tabs li.active:after {
    content: '\f105';
    left: auto;
    margin: -.5em 0 0;
    right: 0;
    top: 50%;
  }
  .woocommerce-tabs .panel {
    width: 64.70588%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
}
.cart_totals table {
  line-height: 1.5em;
}
.cart_totals table form p {
  margin-bottom: 1em;
}
.cart_totals table form,
.cart_totals table form > p,
.cart_totals table form p:last-of-type {
  margin-bottom: 0;
}
.cart_totals table form > p + section {
  margin-top: 1em;
}
.cart_totals table .cart-subtotal th,
.cart_totals table .order-total th {
  float: left;
}
@media screen and (min-width: 768px) {
  .cart_totals table .cart-subtotal th,
  .cart_totals table .order-total th {
    float: none;
  }
}

.cart_totals table.cart,
.cart_totals table.cart tbody,
.cart_totals table.cart td,
.cart_totals table.cart th,
.cart_totals table.cart tr,
.shop_table.cart,
.shop_table.cart tbody,
.shop_table.cart td,
.shop_table.cart th,
.shop_table.cart tr {
  display: block;
}
@media screen and (min-width: 768px) {
  .cart_totals table.cart tbody,
  .shop_table.cart tbody {
    display: table-row-group;
  }
}
@media screen and (min-width: 768px) {
  .cart_totals table.cart tr,
  .shop_table.cart tr {
    display: table-row;
  }
}
@media screen and (min-width: 768px) {
  .cart_totals table.cart td,
  .cart_totals table.cart th,
  .shop_table.cart td,
  .shop_table.cart th {
    display: table-cell;
  }
}
@media screen and (min-width: 768px) {
  .cart_totals table.cart,
  .shop_table.cart {
    display: table;
  }
}
.cart_totals table td,
.shop_table td {
  background: none;
}
.cart_totals table,
.cart_totals table tr:nth-child(odd),
.shop_table,
.shop_table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.025);
}

.shop_table {
  padding: 0;
}
.shop_table [type='number'] {
  background-color: #fff;
}
.shop_table tbody tr:nth-child(2n) td {
  background: none;
}
.shop_table.cart thead tr,
.shop_table.cart .product-thumbnail {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
.shop_table.cart .product-remove {
  float: right;
}

[type='number'] {
  max-width: 100%;
  width: auto;
}

[size='4'] {
  max-width: 4em;
}

@media screen and (min-width: 768px) {
  .shop_table .product-price::after,
  .shop_table .product-subtotal::before {
    content: initial;
  }
  .shop_table .product-remove,
  .shop_table .product-price,
  .shop_table .product-quantity,
  .shop_table .product-subtotal {
    float: none;
  }
  .shop_table .product-price,
  .shop_table .product-quantity,
  .shop_table .product-subtotal {
    padding: 1em;
  }
  .shop_table thead tr,
  .shop_table .product-thumbnail {
    left: initial;
    position: initial;
    top: initial;
  }
}

/*# sourceMappingURL=woocommerce.css.map */
