// WooCommerce

// Imports

@import 'bourbon';
@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';
@import '../../../node_modules/susy/sass/susy';

// Star font, FontAwesome doesn't work :(
@font-face {
  font-family: 'star';
  src: url('../../../../../plugins/woocommerce/assets/fonts/star.eot');
  src: url('../../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'),
    url('../../../../../plugins/woocommerce/assets/fonts/star.woff') format('woff'),
    url('../../../../../plugins/woocommerce/assets/fonts/star.ttf') format('truetype'),
    url('../../../../../plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Header Elements

.woocommerce-active {
  .site-header {
    .col-full {
      position: relative;
    }
  }
}


.site-search {

  .widget_product_search {
    input[type=text],
    input[type=search] {
      line-height: 1;
      padding: 1.25em 1.5em 1.25em 3.5em;
    }

    form {
      &::before {
        left: 1.618em;
        top: 1.375em;
      }
    }

    #searchsubmit {
      @extend %screen-reader-text;
    }
  }
}

// Shop tables

.shop_table_responsive {
  thead {
    display: none;
  }

  tbody {
    th {
      display: none;
    }
  }

  tr {
    td {
      display: block;
      text-align: right;

      &:before {
        content: attr(data-title) ': ';
        float: left;
        font-weight: 700;
      }

      &.product-remove {
        a {
          text-align: left;
        }

        &:before {
          display: none;
        }
      }

      &.actions {
        &:before {
          display: none;
        }
      }
    }
  }

  &.my_account_orders {
    .order-actions {
      text-align: left;

      &:before {
        display: none;
      }
    }
  }
}

// Products
.products {
  @include clearfix;
  clear: both;
  margin-left: 0;

  .product {
    list-style: none;
    margin-bottom: 4.236em;
    margin-left: 0;
    position: relative;
    text-align: center;

    .star-rating,
    .price {
      margin: 0 auto 1em;
    }

    .price {
      color: $color-body;
      display: block;
      font-weight: 400;

      ins {
        background-color: transparent;
        font-weight: 700;
        margin-left: .618em;
      }
    }

    h3 {
      font-size: 1.1em;
    }

    .star-rating {
      font-size: .875em;
    }

    img {
      display: block;
      margin: 0 auto 1.618em;
    }

    &.product-category {
      img {
        margin-bottom: 1.618em;
      }
    }

    .button {
      margin-bottom: .236em;
    }
  }
}

.product-image {
  margin-bottom: 1em;
}

.woocommerce-main-image {
  margin-bottom: 0;
}

// PrettyPhoto Ajax Loader Animation
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// Single Product

.single-product {
  .product {
    @include clearfix;
    overflow: hidden;
    position: relative;

    .images,
    .summary {
      margin-bottom: 2.618em;
      margin-top: 0;
    }

    .images {

      .thumbnails {
        .zoom {
          display: block;
          float: left;
          margin-bottom: 1em;
          margin-right: 3.8%;
          width: 22.05%;

          &.last {
            margin-right: 0;
          }

          &.first {
            clear: both;
          }
        }
      }
    }

    .cart {
      @include clearfix;
      border-bottom: 3px solid rgba($black, .025);
      border-top: 3px solid rgba($black, .025);
      margin-bottom: 1.618em;
      padding: 1.618em 0;

      .quantity {
        float: left;
      }

      .button {
        float: right;
      }
    }

    .price {
      font-weight: 700;
    }

    .variations {
      margin: 0;

      th,
      td {
        background-color: transparent;
        display: list-item;
        list-style: none;
        padding: 0;
      }

      .value {
        margin-bottom: 1em;
      }
    }

    .single_variation {
      .price {
        display: block;
        margin-bottom: 1em;
      }
    }

    .variations_button {
      @include clearfix;
      border-top: 1px solid $color-border;
      padding-top: 1em;
    }

    .woocommerce-product-rating {
      @include clearfix;
      border-bottom: 1px solid $color-border;
      line-height: 1;
      margin-bottom: 2.618em;
      margin-top: -.618em;
      padding: 0 0 1.618em;

      a {
        font-size: .875em;
      }

      .star-rating {
        float: right;
      }
    }

    .product_meta {
      font-size: .875em;

      .sku_wrapper,
      .posted_in,
      .tagged_as {
        border-bottom: 1px dotted $color-border;
        display: block;
        padding: .53em 0;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.stock {
  &:before {
    font-family: FontAwesome;
    margin-right: .53em;
  }

  &.in-stock:before {
    content: '\f118';
  }

  &.out-of-stock:before {
    content: '\f119';
  }
}

.reset_variations {
  display: inline-block;
  margin-left: 1em;

  &:before {
    content: '\f021';
    font-family: FontAwesome;
    font-weight: 400;
    margin-right: .53em;
  }
}

// Reviews
#reviews {
  #comments {
    padding-top: 0;
  }

  .commentlist {
    list-style: none;
    margin-left: 0;

    li {
      border-bottom: 1px solid $color-border;
      clear: both;
      list-style: none;
      margin-bottom: 3.631em;

      time {
        opacity: .8;
      }

      .avatar {
        float: right;
        height: auto;
        width: 2.618em;
      }

      .meta {
        margin-bottom: 1em;
      }

      .description {
        padding-bottom: 1.618em;
      }

      .children {
        @include span(last 5 of 6);
        border-top: 1px solid $color-border;
        padding-top: 2.618em;
      }
    }
  }

  .comment-form-rating {
    clear: both;
  }
}

// Breadcrumbs
.woocommerce-breadcrumb {
  border-bottom: 1px solid rgba($black, .05);
  font-size: .875em;
  margin-bottom: 4.236em;
  padding: 1em 0;

  .home {
    &:before {
      content: '\f015';
      font-family: FontAwesome;
      font-weight: 400;
      margin-right: .53em;
    }
  }
}

// Widgets
.product_list_widget {
  list-style: none;
  margin-left: 0;

  li {
    @include clearfix;
    border-bottom: 1px dotted $color-border;
    padding: 1em 0;

    img {
      float: right;
      max-width: 20%;
      min-width: 2em;
    }

    .quantity,
    > .amount {
      display: block;
    }
  }

  a {
    display: block;

    &,
    &:hover {
      color: $white;
    }
  }
}

.widget_products {
  a {
    display: block;
  }
}

.widget_shopping_cart {
  .product_list_widget {
    margin-bottom: 0;

    li {
      padding-left: 2em;
      position: relative;

      .remove {
        left: 0;
        opacity: 1;
        position: absolute;
        top: 1em;
      }
    }
  }

  .total,
  .buttons {
    margin: 0;
    padding: 1em 0;
    text-align: center;
  }

  .total {
    border-bottom: 1px solid $color-border;
  }

  .buttons {
    .button {
      display: block;

      &:nth-child(odd) {
        margin-bottom: .618em;
      }
    }
  }
}

.widget_product_categories {
  ul {
    margin: 0;

    li {
      list-style: none;
      margin-bottom: .618em;

      &:before {
        content: '\f114';
        display: inline-block;
        font-family: FontAwesome;
        margin-right: .53em;
        opacity: .25;
      }

      &.current-cat {
        &:before {
          content: '\f115';
        }
      }
    }
  }

  .children {
    margin-left: 1.618em;
    margin-top: .618em;
  }
}

.site-header {
  .widget_shopping_cart {
    .total,
    .buttons,
    li {
      background-color: rgba($black, .025);
      padding-left: 1.375em;
      padding-right: 1.375em;
    }
  }
}

.widget_layered_nav {
  li {
    margin-bottom: .618em;

    &:before {
      content: '\f0c8';
      display: inline-block;
      font-family: FontAwesome;
      margin-right: .53em;
      opacity: .35;
    }
  }

  .chosen {
    &:before {
      content: '\f14a';
    }
  }
}

.widget.woocommerce {
  li {
    .count {
      float: right;
      font-size: 1em;
    }
  }
}

.widget_price_filter {
  .price_slider {
    margin-bottom: 1em;
  }

  .price_slider_amount {
    line-height: 2.4em;
    text-align: right;

    .button {
      float: left;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;

    .ui-slider-handle {
      background: $color-links;
      border-radius: 1em;
      box-sizing: border-box;
      cursor: ew-resize;
      height: 1em;
      margin-top: -.25em;
      opacity: 1;
      outline: none;
      position: absolute;
      width: 1em;
      z-index: 2;

      &:last-child {
        margin-left: -1em;
      }

      &:hover,
      &.ui-state-active {
        box-shadow: 0 0 0 .236em rgba($black, .1);
      }
    }

    .ui-slider-range {
      background: $color-links;
      border: none;
      border-radius: 1em;
      display: block;
      font-size: .7em;
      position: absolute;
      z-index: 1;
    }
  }

  .price_slider_wrapper .ui-widget-content {
    background: rgba($black, .1);
    border-radius: 1em;
  }

  .ui-slider-horizontal {
    height: .5em;

    .ui-slider-range {
      height: 100%;
      top: 0;
    }

    .ui-slider-range-min {
      left: -1px;
    }

    .ui-slider-range-max {
      right: -1px;
    }
  }
}

// Cart
.cart {
  margin-bottom: 3.5em;

  thead {
    text-indent: -999em;

    th {
      padding: 0;
    }
  }

  .product-thumbnail,
  .product-quantity .plus,
  .product-quantity .minus {
    display: none;
  }

  .qty {
    padding: .25em;
  }

  .actions {
    label {
      display: none;
    }

    .coupon {
      border-bottom: 1px dotted $color-border;
      margin-bottom: 1em;
      padding-bottom: 1em;
    }

    input {
      display: block;
      margin: .236em 0;
      width: 100%;
    }
  }
}

.wc-proceed-to-checkout {
  @include clearfix;
  margin-bottom: 1.618em;

  .button {
    display: block;
    margin-bottom: 1em;
    text-align: center;

    &.checkout-button {
      font-size: 1.375em;
    }
  }
}

#shipping_method {
  list-style: none;
  margin: 0;
}

.remove {
  display: block;
  font-weight: 400;
  position: relative;
  text-indent: -9999px;
  width: 1em;

  &:before {
    color: $error;
    content: '\f057';
    font-family: FontAwesome;
    font-weight: 400;
    left: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 0;
  }
}

// Checkout
.checkout_coupon {
  margin-bottom: 2.618em;
}

.woocommerce-checkout {
  @include clearfix;
}

.about_paypal {
  float: right;
  margin-right: 1em;
}

#payment {
  @include clearfix;
  border-top: 3px solid $color-border;

  .create-account {
    clear: both;
  }

  .payment_methods {
    border-bottom: 1px dotted $color-border;
    margin: 0 !important;
    padding: 0 !important;

    li {
      border-bottom: 1px dotted $color-border;
      list-style: none !important;
      margin-left: 0;
      padding: 1.375em !important;

      img {
        border: none;
        float: right;
        max-height: 1.618em;
        padding: 0;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      label {
        font-weight: bold;
        margin-left: .618em;
        padding-top: 0 !important;
        width: 92%;
      }

      p {
        margin: 0;
      }

      .payment_box {
        background: rgba(0, 0, 0, .035);
        border-top: 1px dotted $color-border;
        margin: 1.375em -1.375em -1.375em;
        padding: 1.375em;

        fieldset {
          border: none;
          font-size: .875em;
          margin: 0;
          padding: 1em 0 0;

          label {
            margin-left: 0;
            width: auto;
          }

          .form-row {
            margin-bottom: 1em;
          }

          .form-row-first {
            select {
              width: 48%;

              &:nth-child(2n) {
                float: right;
              }
            }
          }

          #cvv {
            width: 22% !important;
          }

          .help {
            float: right;
            width: 75%;
          }
        }
      }
    }
  }

  .terms {
    clear: both;
    float: none;
    margin-bottom: 0;
    margin-top: 1em;
    width: 100%;

    label {
      display: inline;
    }

    input {
      display: inline-block;
      float: left;
      margin: .375em .53em 0 0;
      width: auto;
    }
  }

  .place-order {
    float: none;
    margin-bottom: 0;
    padding: 1.375em;
    width: 100%;

    .button {
      font-size: 1.375em;
      white-space: pre-wrap;
      width: 100%;
    }
  }
}

// Password strength meter
.woocommerce-password-strength {
  font-size: .875em;
  font-weight: 600;
  padding: .53em 0;
  text-align: right;

  &:after {
    content: '\f119';
    display: inline-block;
    font-family: FontAwesome;
    font-weight: 400;
    margin-left: .53em;
  }

  &.strong {
    color: $success;

    &:after {
      content: '\f118';
    }
  }

  &.short {
    color: $error;
  }

  &.bad {
    color: $error;
  }

  &.good {
    color: $info;

    &:after {
      content: '\f11a';
    }
  }
}

// My Account

.order_details {
  @include clearfix;
  border: 1px solid $color-border;
  list-style: none;
  margin-left: 0;
  position: relative;

  li {
    border-right: 1px solid $color-border;
    float: left;
    font-size: .8em;
    padding: 1em 1.618em;
    text-transform: uppercase;

    &:last-child {
      border-right: none;
    }

    strong {
      display: block;
      font-size: 1.375em;
      text-transform: none;
    }
  }
}

.digital-downloads {
  list-style: none;
  margin-left: 0;

  li {
    border-bottom: 1px dotted $color-border;
    margin-bottom: 1em;
    padding-bottom: 1em;

    &:before {
      content: '\f019';
      font-family: FontAwesome;
      margin-right: .53em;
    }
  }
}

.my_account_orders {
  .button {
    font-size: .875em;
    margin-right: .236em;
    padding: .53em 1em;
  }
}

// General WooCommerce components
.form-row {
  label {
    display: block;
  }

  input,
  textarea,
  select {
    width: 100%;
  }

  input[type=checkbox],
  input[type=radio] {
    width: auto;
  }

  .button {
    width: auto;
  }

  &.create-account {
    label {
      display: inline-block;
    }
  }

  &.woocommerce-invalid {
    label {
      color: $error;
    }

    input {
      background-color: change-color($error, $lightness: lightness(lighten($gainsboro, 7.5%)));
    }
  }
}

.form-row-last {
  margin-right: 0 !important;
}

.form-row-wide {
  clear: both;
  width: 100%;
}

.required {
  border-bottom: 0 !important;
  color: $red;
}

.demo_store {
  background-color: $info;
  bottom: 0;
  color: $white;
  left: 0;
  margin: 0;
  padding: 1em 1.375em;
  position: fixed;
  right: 0;

  &:before {
    content: '\f05a';
    font-family: FontAwesome;
    margin-right: .53em;
  }
}

.star-rating {
  font-family: star;
  font-size: 1em;
  height: 1em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 5.5em;

  &:before {
    color: rgba(0, 0, 0, .2);
    content: '\73\73\73\73\73';
    float: left;
    left: 0;
    position: absolute;
    top: 0;
  }

  span {
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0;
  }

  span:before {
    color: $color-links;
    content: '\53\53\53\53\53';
    left: 0;
    position: absolute;
    top: 0;
  }
}

.stars {
  a {
    display: inline-block;
    height: 1em;
    margin-right: 1px;
    position: relative;
    text-decoration: none;
    text-indent: -999em;
    width: 1em;

    &:before {
      content: '\e021';
      display: block;
      font-family: WooCommerce;
      height: 1em;
      left: 0;
      line-height: 1;
      position: absolute;
      text-indent: 0;
      top: 0;
      width: 1em;
    }

    &:hover {
      ~ a:before {
        content: '\e021';
      }
    }
  }

  &:hover {
    a {
      &:before {
        content: '\e020';
      }
    }
  }

  &.selected {
    .active {
      &:before {
        content: '\e020';
      }

      ~ a:before {
        content: '\e021';
      }
    }

    a:not(.active) {
      &:before {
        content: '\e020';
      }
    }
  }
}

.onsale {
  border-color: $color-body;
  border-style: solid;
  border-width: 2px;
  color: $color-body;
  display: inline-block;
  font-size: .875em;
  font-weight: 700;
  margin-bottom: 1em;
  padding: .202em .618em;
  text-transform: uppercase;
}

.quantity {
  .qty {
    text-align: center;
  }
}

.woocommerce-sorting {
  background-color: rgba($black, .025);
  font-size: .875em;
  margin-bottom: 2.5em;
  padding: 2em;
}

.woocommerce-tabs {
  border-color: $color-border;
  border-style: solid;
  border-width: 1px 0;
  padding: 1em 0;

  .tabs {
    list-style: none;
    margin-left: 0;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 1em;
      position: relative;

      &.active {
        a {
          color: $color-body;
        }

        &:after {
          content: '\f107';
          font-family: FontAwesome;
          height: 1em;
          left: 50%;
          line-height: 1;
          margin-left: -.5em;
          position: absolute;
          top: 100%;
          width: 1em;
        }
      }
    }
  }
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
.no-comments {
  @include clearfix;
  background-color: $success;
  border-left: .618em solid rgba(0, 0, 0, .15);
  clear: both;
  color: $white;
  margin-bottom: 2.618em;
  margin-left: 0;
  padding: 1em 1.618em;

  a {
    color: $white;

    &:hover {
      color: $white;
      opacity: .7;
    }

    &.button:hover {
      opacity: 1;
    }
  }

  .button {
    background: none;
    border-left-color: rgba($white, .25) !important;
    border-left-style: solid;
    border-radius: 0;
    border-width: 0 0 0 1px;
    box-shadow: none;
    color: $white;
    float: right;
    line-height: 1.618;
    padding: 0 0 0 1em;

    &:hover {
      background: none;
      color: $white;
      opacity: .7;
    }
  }

  pre {
    background-color: rgba($black, .1);
  }
}

.site-content {
  > .col-full {
    > .woocommerce {
      > .woocommerce-message,
      > .woocommerce-info,
      > .woocommerce-error {
        &:first-child {
          margin-top: 2.618em;
        }
      }
    }
  }
}

.wc-forward {
  &:after {
    content: '\f178';
    font-family: FontAwesome;
    font-weight: 400;
    margin-left: .53em;
  }
}

.woocommerce-error {
  background-color: $error;
  list-style: none;
}

.woocommerce-info,
.woocommerce-noreviews,
.no-comments {
  background-color: $info;
}


.woocommerce-result-count {
  margin-bottom: 0;
}

.variation {
  font-size: .875em;

  dd {
    margin: 0 0 1em;
  }
}

// Homepage
.et_shop-product-section {
  border-bottom: 3px solid rgba(0, 0, 0, .025);
  margin-bottom: 4.236em;

  .section-title {
    text-align: center;
  }

  &:last-child {
    border-bottom-width: 0;
  }
}

.product-price,
.product-quantity,
.product-subtotal,
.cart_totals td {
  text-align: right;
}


@media #{$desktop} {

  // Responsive tables
  .shop_table_responsive {
    thead {
      display: table-header-group;
    }

    tbody {
      th {
        display: table-cell;
      }
    }

    tr {
      td {
        display: table-cell;

        &:before {
          display: none;
        }
      }
    }
  }

  .remove {
    width: auto;
  }

  .no-js .site-header-cart > li:hover > .widget_shopping_cart,
  .site-header-cart > .focus > .widget_shopping_cart {
    display: block;
  }

  // Header Elements
  .site-header-cart {
    position: relative;

    .cart-contents {
      background-color: transparent;
      display: block;
      height: auto;
      padding-right: 3em;
      position: relative;
      text-indent: 0;
      width: auto;

      &:after {
        $line-height: 1em;
        line-height: $line-height;
        margin-top: -($line-height / 2);
        right: 1em;
        top: 50%;
        width: 1em;
      }

      .amount {
        margin-right: .375em;
      }

      .count {
        font-size: .875em;
        font-weight: 400;
        opacity: .75;
      }

      span {
        display: inline;
      }
    }

    .widget_shopping_cart {
      font-size: .875em;
      min-width: 20em;
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;
      z-index: 999999;

      .widgettitle {
        display: none;
      }

      .product_list_widget li .remove {
        float: left;
        position: relative;
        top: auto;
        width: 1.25em;

        &:before {
          text-align: left;
        }
      }
    }
  }

  // Reset mobile product styles
  .products {
    .product {
      clear: none;
      float: left;
      font-size: .875em;
      width: 100%;

      &.first {
        clear: both !important;
      }

      &.last {
        margin-right: 0 !important;
      }
    }
  }

  .woocommerce-main-image,
  .product-image {
    display: block;
    height: 0;
    padding-bottom: 100%;

    img {
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
    }
  }

  // Full width content area product layout
  .page-template-template-fullwidth-php,
  .page-template-template-homepage-php,
  .et_shop-full-width-content {
    .site-main {
      .columns-1 {
        .products {
          .product {
            float: none;
            margin-right: 0;
            width: 100%;
          }
        }
      }

      .columns-2 {
        .products {
          .product {
            @include span(6 of 12);
          }
        }
      }

      .columns-3 {
        .products {
          .product {
            @include span(4 of 12);
          }
        }
      }

      .columns-4 {
        .products {
          .product {
            @include span(3 of 12);
          }
        }
      }

      // The grid wont work for 5 columns :-(
      .columns-5 {
        .products {
          .product {
            margin-right: 3.8%;
            width: 16.9%;
          }
        }
      }
    }
  }

  // Main content area (adjacent to sidebar) product layout
  .site-main {
    .columns-1 {
      .products {
        .product {
          float: none;
          margin-right: 0;
          width: 100%;
        }
      }
    }

    // The grid wont work for 2 columns :-(
    .columns-2 {
      .products {
        .product {
          margin-right: 3.8%;
          width: 48%;
        }
      }
    }

    .columns-3 {
      .products {
        .product {
          @include span(3 of 9);
        }
      }
    }

    // The grid wont work for 4 columns :-(
    .columns-4 {
      .products {
        .product {
          margin-right: 3.8%;
          width: 22.05%;
        }
      }
    }

    // The grid wont work for 5 columns :-(
    .columns-5 {
      .products {
        .product {
          margin-right: 3.8%;
          width: 16.9%;
        }
      }
    }

    .products {
      .product {
        @include span(3 of 9);
      }
    }
  }

  // Single product page
  .single-product {
    .product {
      .images {
        @include span(4 of 9);
        margin-bottom: 3.631em;

        .thumbnails {
          @include clearfix;

          .zoom {
            @include span(1 of 4);

            &.last {
              @include last;
            }
          }
        }
      }

      .summary {
        @include span(last 5 of 9);
        margin-bottom: 3.631em;
      }

      .woocommerce-tabs {
        clear: both;
      }
    }
  }

  #reviews {
    .comment-form-author,
    .comment-form-email {
      width: 47%;
    }

    .comment-form-email {
      margin-right: 0;
    }
  }

  // Full width single product
  .et_shop-full-width-content.single-product {
    .product {
      .images {
        @include span(4 of 12);
        margin-bottom: 3.631em;

        .thumbnails {
          .zoom {
            @include span(1 of 4);

            &.last {
              margin-right: 0;
            }
          }
        }
      }

      .summary {
        @include span(last 8 of 12);
        margin-bottom: 3.631em;
      }

      .woocommerce-tabs {
        clear: both;
      }
    }

    .related,
    .upsells {
      .products {
        .product {
          @include span(4 of 12);
        }
      }
    }
  }

  .woocommerce .page-description {
    margin-bottom: 1.618em;
  }

  .woocommerce-sorting {
    @include clearfix;
    margin-bottom: 2.618em;
    padding: 1em 2em;

    select {
      width: auto;
    }
  }

  .woocommerce-result-count {
    float: left;
    padding: .375em 0;
    position: relative;
  }

  .woocommerce-ordering {
    float: left;
    margin-bottom: 0;
    margin-right: 1em;
    padding: .375em 0;
  }

  .woocommerce-pagination {
    border: none;
    clear: none;
    float: right;
    margin-bottom: 0;
    padding: 0;
  }

  // Cart
  .page-template-template-fullwidth-php {
    .cart {
      .product-thumbnail {
        display: table-cell;

        img {
          border: .375em solid $white;
          margin: 0 auto;
          max-height: 6em;
          max-width: 6em;
        }
      }

      thead {
        font-size: 1em;
        text-indent: 0;

        th {
          padding: .875em 1.375em;
        }
      }
    }
  }

  .cart {
    th,
    td {
      padding: .875em 1.375em;
    }

    .qty {
      padding: .875em;
    }

    .product-remove {
      display: table-cell;
    }

    .product-quantity .plus,
    .product-quantity .minus {
      display: inline-block;
    }

    .quantity {
      .qty {
        height: 2em;
        line-height: 1em;
        padding: .5em;
      }
    }

    .actions {
      text-align: right;

      label {
        display: none;
      }

      .coupon {
        border-bottom: none;
        display: inline-block;
        float: left;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      input {
        display: inline-block;
        margin: 0;
        width: auto;
      }
    }
  }

  .cart-collaterals {
    @include clearfix;

    .cross-sells {
      @include span(4 of 9);

      .products {
        .product {
          @include span(2 of 4);
        }
      }
    }

    .cart_totals,
    .shipping_calculator {
      clear: right;
      float: right;
      margin: 0;
    }

    .shipping_calculator {
      clear: right;
    }
  }

  .page-template-template-fullwidth-php {
    .cart-collaterals {
      .cross-sells {
        @include span(6 of 12);

        .products {
          .product {
            @include span(3 of 6);
          }
        }
      }

      .cart_totals,
      .shipping_calculator {
        float: right;
      }
    }
  }

  // Checkout
  .col2-set {
    @include span(5 of 9);

    .form-row-first {
      @include span(2 of 5);
    }

    .form-row-last {
      @include span(last 3 of 5);
    }

    .col-1,
    .col-2 {
      margin-bottom: 1.618em;
    }

    + #customer_details {
      display: none;
    }
  }

  #order_review_heading,
  #order_review {
    @include span(last 4 of 9);
    border: 3px solid $color-links;
    clear: right;
  }

  #order_review_heading {
    @include gutters(inside);
    border-width: 3px 3px 0;
    margin-bottom: 0;
    padding-bottom: .618em;
    padding-top: .618em;
  }

  #order_review {
    border-width: 0 3px 3px;
  }

  // Payment forms in account
  .woocommerce-order-pay,
  .page-template-template-fullwidth-php.woocommerce-order-pay {
    #order_review {
      border-width: 3px;
      float: none;
      width: 100%;

      #payment {
        h3 {
          padding-left: 1em;
          padding-top: 1em;
        }

        .form-row {
          padding: 1em;
        }
      }

      .payment_methods + .form-row {
        padding: 1em;
      }

      .button#place_order {
        display: block;
        font-size: 1.375em;
        width: 100%;
      }
    }
  }

  #wc_checkout_add_ons {
    @include span(4 of 9);
  }

  .page-template-template-fullwidth-php {
    .col2-set {
      @include span(6 of 12);

      .form-row-first {
        @include span(3 of 6);
      }

      .form-row-last {
        @include span(last 3 of 6);
      }
    }

    #order_review_heading,
    #order_review {
      @include span(last 6 of 12);
    }

    #wc_checkout_add_ons {
      @include span(last 6 of 12);
    }

    #order_review {
      font-size: .875em;
    }
  }

  #order_review {
    .shop_table {
      margin-bottom: 2.618em;
    }
  }

  // My Account
  .col2-set#customer_login {
    @include span(full);

    .col-1 {
      @include span(4 of 9);
    }

    .col-2 {
      @include span(5 of 9 last);
    }
  }

  .page-template-template-fullwidth-php {
    .col2-set#customer_login {
      .col-1 {
        @include span(6 of 12);
      }

      .col-2 {
        @include span(6 of 12 last);
      }
    }
  }

  // General WooCommerce Components
  .form-row-first {
    @include span(4.5 of 9);
    clear: both;
  }

  .form-row-last {
    @include span(last 4.5 of 9);
  }

  .page-template-template-fullwidth-php {
    .form-row-first {
      @include span(6 of 12);
    }

    .form-row-last {
      @include span(last 6 of 12);
    }
  }

  .et_shop-full-width-content {
    .woocommerce-tabs {
      .tabs {
        @include span(4 of 12);
      }

      .panel {
        @include span(last 8 of 12);
        margin-bottom: 3.631em;
      }
    }
  }

  .woocommerce-tabs {
    @include clearfix;
    margin-bottom: 2.618em;
    padding-bottom: 2.618em;
    padding-top: 2.618em;

    .tabs {
      @include span(3 of 9);
      text-align: left;

      li {
        border-bottom: 1px dotted $color-border;
        display: block;
        margin: 0;

        a {
          display: block;
          padding: 1em 0;
        }

        &.active {
          &:after {
            content: '\f105';
            left: auto;
            margin: -.5em 0 0;
            right: 0;
            top: 50%;
          }
        }
      }
    }

    .panel {
      @include span(last 6 of 9);
      margin-top: 0;
    }
  }
}



// Force table to not be like tables anymore
.cart_totals table {
  $line-height: 1.5em;
  line-height: $line-height;

  form {
    p {
      margin-bottom: 1em;
    }

    &,
    > p,
    p:last-of-type {
      margin-bottom: 0;
    }

    > p + section {
      margin-top: 1em;
    }
  }

  .shipping [type='radio'] {
    float: left;
    height: $line-height;
    margin-right: .5em;

    @media #{$desktop} {
      float: none;
      height: auto;
      margin-right: auto;
    }
  }

  .cart-subtotal,
  .order-total {
    th {
      float: left;

      @media #{$desktop} {
        float: none;
      }
    }
  }
}

.cart_totals table,
.shop_table {
  &.cart {
    &,
    tbody,
    td,
    th,
    tr {
      display: block;
    }

    tbody {
      @media #{$desktop} {
        display: table-row-group;
      }
    }

    tr {
      @extend %clearfix;

      @media #{$desktop} {
        display: table-row;
      }
    }

    td,
    th {
      @media #{$desktop} {
        display: table-cell;
      }
    }

    @media #{$desktop} {
      display: table;
    }
  }

  td {
    background: none;
  }

  &,
  tr:nth-child(odd) {
    background-color: rgba($black, .025);
  }
}

.shop_table {
  padding: 0;

  [type='number'] {
    background-color: $white;
  }

  tbody tr:nth-child(2n) td {
    background: none;
  }

  &.cart {
    thead tr,
    .product-thumbnail {
      left: -9999px;
      position: absolute;
      top: -9999px;
    }

    .product-remove {
      float: right;
    }

    .product-price,
    .product-quantity,
    .product-subtotal {
      float: left;
      padding-top: 0;
    }

    .product-price {
      padding-right: .25em;
    }

    .product-quantity {
      padding-left: 0;
      padding-right: 0;
    }

    .product-subtotal {
      padding-left: .25em;
    }

    .product-price::after {
      content: ' ×';
    }

    .product-subtotal::before {
      content: '= ';
    }
  }
}

[type='number'] {
  max-width: 100%;
  width: auto;
}

[size='4'] {
  max-width: 4em;
}

@media #{$desktop} {
  .shop_table {
    .product-price::after,
    .product-subtotal::before {
      content: initial;
    }

    .product-remove,
    .product-price,
    .product-quantity,
    .product-subtotal {
      float: none;
    }

    .product-price,
    .product-quantity,
    .product-subtotal {
      padding: 1em;
    }

    thead tr,
    .product-thumbnail {
      left: initial;
      position: initial;
      top: initial;
    }
  }
}


