%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin hover-active-focus() {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

%screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

@mixin message($glyph: '\f05a', $color: $info) {
  padding: 1em 1.618em 1em 3.631em;
  background: rgba($color, .7);
  margin-bottom: 2.618em;
  font-weight: normal;
  position: relative;
  color: $white;
  text-shadow: none;

  &:before {
    background: rgba(darken($color, 3%), .7);
    bottom: 0;
    color: $white;
    content: $glyph;
    font-family: FontAwesome;
    font-weight: normal !important;
    left: 0;
    padding: 1em .618em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 2.618em;
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .button {
    background: $white;
    color: $color;
    font-size: .857em;
    padding: .202em .618em;

    &:hover,
    &:active {
      background: rgba($white, .8);
      color: $color;
    }
  }
}
