// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.


$base-font:   'Helvetica Neue', Helvetica, sans-serif;
$header-font: $base-font;


// Font-Awesome Font Path
$fa-font-path: 'fonts/font-awesome';


// Default Colors
$white:  #fff;
$black:  #000;
$silver: #c0c0c0;
$yellow: #ff0;

// Color Palette: http://paletton.com/#uid=31j0u0kw0vKjDCNoYxNydoBDtjk
$color-primary-0:     #fdc800; $supernova:      $color-primary-0;
$color-primary-1:     #ffde63; $jonquil:        $color-primary-1;
$color-primary-2:     #ffd638; $bright-sun:     $color-primary-2;
$color-primary-3:     #c49b00; $buddha-gold:    $color-primary-3;
$color-primary-4:     #9a7a00; $buttered-rum:   $color-primary-4;
$color-secondary-1-0: #610caa; $purple:         $color-secondary-1-0;
$color-secondary-1-1: #8d52c0; $deep-lilac:     $color-secondary-1-1;
$color-secondary-1-2: #7530b0; $purple-heart:   $color-secondary-1-2;
$color-secondary-1-3: #4b0984; $pigment-indigo: $color-secondary-1-3;
$color-secondary-1-4: #3a0568; $christalle:     $color-secondary-1-4;
$color-secondary-2-0: #0e4ea6; $tory-blue:      $color-secondary-2-0;
$color-secondary-2-1: #5380bd; $glaucous:       $color-secondary-2-1;
$color-secondary-2-2: #3265ad; $azure:          $color-secondary-2-2;
$color-secondary-2-3: #0a3c81; $dark-cerulean:  $color-secondary-2-3;
$color-secondary-2-4: #062e65; $cool-black:     $color-secondary-2-4;

// Color Names:   http://name-of-color.com
$alabaster:     #fcfcfc;
$cinnabar:      #e34234;
$concrete:      #f3f3f3;
$gainsboro:     #dcdcdf;
$manatee:       #9aa0a7;
$mercury:       #e5e5e5;
$salem:         #0f834d;
$seashell:      #f1f1f1;
$shakespeare:   #3d9cd2;
$shalimar:      #fff9c0;
$shark:         #2c2d33;
$shuttle-gray:  #60646c;

$edelgelb:      $supernova;
$edelweiss:     change-color($supernova, $lightness: 97.5%, $saturation: 97.5%);


// Base Color Scheme
$header-background:    $shark;
$header-color:         $manatee;
$body-background:      $alabaster;
$color-body:           $shuttle-gray;
$color-links:          desaturate(lighten($purple, 25%), 50%);
$color-border:         transparentize($black, .9);
$error:                $cinnabar;
$success:              $salem;
$info:                 $shakespeare;
$vspacing:             1.618em;
$footer-background:    $edelweiss;


// Media Queries

$on-desktop: 768px;

$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
  gutter-position: after,

  use-custom: (
    box-sizing: false
  )
);
