// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.


$base-font:   'Helvetica Neue', Helvetica, sans-serif;
$header-font: $base-font;


// Font-Awesome Font Path
$fa-font-path: 'fonts/font-awesome';


// Default Colors
$white:  #fff;
$black:  #000;
$silver: #c0c0c0;
$yellow: #ff0;


// Color Palette: http://paletton.com/#uid=31j0u0kw0vKjDCNoYxNydoBDtjk
// Color Names:   http://name-of-color.com
$alabaster:     #fcfcfc;
$cinnabar:      #e34234;
$concrete:      #f3f3f3;
$edelgelb:      #fdc800;
$edelweiss:     #fffced;
$manatee:       #9aa0a7;
$mercury:       #e5e5e5;
$purple:        #610caa;
$salem:         #0f834d;
$seashell:      #f1f1f1;
$shakespeare:   #3d9cd2;
$shalimar:      #fff9c0;
$shark:         #2c2d33;
$shuttle-gray:  #60646c;

// Base Color Scheme
$header-background:    $shark;
$header-color:         $manatee;
$body-background:      $alabaster;
$color-body:           $shuttle-gray;
$color-links:          desaturate(lighten($purple, 25%), 50%);
$color-border:         transparentize($black, .9);
$error:                $cinnabar;
$success:              $salem;
$info:                 $shakespeare;
$vspacing:             1.618em;
$footer-background:    $edelweiss;

$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
  gutter-position: after,

  use-custom: (
    box-sizing: false
  )
);
